.tab-options{
    background-color: rgb(233, 195, 130);
}

.options-wrapper{
    display: flex;
}

.tab-item{
    margin-right: 24px;
    padding: 12px 12px;
}

.tab-name{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 10px;
}

.tab-image-container{
    padding: 20px;
    width: 18%;
    border-radius: 50%;
    background-color: var(--inactive-color);
}

.tab-image{
    width: 30px;
}

.active-tab{
    border-bottom: 2px solid var(--zomato-red);
}

.active-tab .tab-name{
    color: black;
}